# Rename as /etc/portage/make.conf.custom which gets sourced. 
# Edit to your needs.
# Settings here will override make.conf.

EMERGE_DEFAULT_OPTS="--autounmask=y --autounmask-continue --autounmask-use=y --autounmask-write --buildpkg-exclude virtual --buildpkg-exclude acct-* --buildpkg-exclude sys-kernel --nospinner --jobs=8 --usepkg"
MAKEOPTS="-j16 -l10"
FEATURES="binpkg-multi-instance buildpkg parallel-fetch parallel-install"

# note that lz4 compression requires app-arch/lz4 to be installed.
BINPKG_COMPRESS="lz4"

PORTAGE_NICENESS=19

CPU_FLAGS_X86="aes avx avx2 f16c fma3 mmx mmxext pclmul popcnt sha sse sse2
sse3 sse4_1 sse4_2 sse4a ssse3"

INPUT_DEVICES="evdev"
VIDEO_CARDS="amdgpu radeonsi"

LLVM_TARGETS="AMDGPU BPF"

L10N="
en
en_US
en-US
fi
sv
"
LINGUAS="${L10N}"

USE="-consolekit dbus -doc elogind -examples -firmware -nls openrc -profile -systemd udev"
